<main>
  <section>
    <div id="game">
        <img src="../../../assets/pac.png" alt="#">
    </div>
    <div id="presentation">
      <h1>Devoradores de Códigos</h1>
      <p>
        Temos como objetivo central a criação e implementação de soluções
        tecnológicas inovadoras que contribuam para o desenvolvimento
        sustentável em diversos setores. A proposta é unir as habilidades
        adquiridas no curso para abordar desafios do mundo real, promovendo
        impacto positivo nas áreas em que vamos atuar.
      </p>
    </div>
  </section>

  <div id="call-to-play">
    <img src="#" alt="#">
    <h2>Seja bem vindo a nossa página e sinta-se a vontade para jogar!</h2>
  </div>
</main>
